In [25]:
import mysql.connector

mydb = mysql.connector.connect(host='localhost', user='root', password='', database='shopdb')

mycursor = mydb.cursor()

In [6]:
mycursor.execute("Select * from membertb")

rows = mycursor.fetchall()
for row in rows:
    print(row)

('1000', '홍', '서울')
('2000', '김', '경기')
('3000', '나리', '학동')
('4000', '영희', '테스트')

In [39]:
mydb.close()

In [36]:
sql = """CREATE TABLE membertbl (
  memberID char(8) NOT NULL,
  memberName char(5) NOT NULL,
  memberAddress char(20) DEFAULT NULL,
  PRIMARY KEY (memberID)
) """

mycursor.execute(sql)   # 위 명령어 실행 (table 생성)

In [37]:
sql = """INSERT INTO membertbl VALUES (
    'Han','한주연','인천 남구 주안동'),
    ('Jee','지운이','서울 은평구 증산동'),
    ('Sang','상길이','경기 성남시 분당구');"""

mycursor.execute(sql)

In [38]:

mycursor.execute('commit')

In [28]:
sql = 'select * from membertbl'

mycursor.execute(sql)

rows = mycursor.fetchall()

for row in rows:
    print(row)

('Han', '한주연', '인천 남구 주안동')
('Jee', '지운이', '서울 은평구 증산동')
('Sang', '상길이', '경기 성남시 분당구')

In [34]:
# mycursor.execute('drop table membertbl')